@mixin database {
    .main-section {
        display: grid;
        grid-template-columns: auto 70% auto;
        .database-editor-section{
            grid-column-start: 2;
            grid-column-end: 3;
            margin-right: 10rem;
            h1{
                font-family: var(--ff-tertiary);
                font-size: var(--fs-secondary-heading);
                color: var(--clr-accent-400);
                font-weight: var(--fw-bold);
                
            }
            ul{
                list-style-type: none;
                display: unset;
                display: flex;
                gap: 0.5rem;
                margin-top: 2rem;
                a{
                    text-decoration: none;
                    color: var(--clr-accent-500);
                    transition: background-color 0.5s;
                    background-color: transparent;
                    padding-block: 0.5rem;
                    padding-inline: 1rem;
                    font-family: var(--ff-tertiary);
                    font-size: var(--fs-50);
                    &:hover{
                        background-color: var(--clr-neutral-400);
                        padding-block: 0.5rem;
                        padding-inline: 1rem;
                        border-bottom: 2px solid var(--clr-accent-400);
                        
                    }
                }    
            }
            .database-wrappers{
                h4{
                    font-size: var(--fs-200);
                    color: var(--clr-accent-400);
                    font-family: var(--ff-tertiary);
                }
                .search-inputs-database{
                    h2{
                        font-size: var(--fs-50)
                    }
                    .inputs-wrapper{
                        display: unset;
                        display: flex;
                        gap: 2rem;
                        .inputs-wrapper-inside{
                            width: 100%;
                            h5{
                                font-size: var(--fs-50);
                                font-family: var(--ff-tertiary);
                            }
                            input{
                                width: 100%;
                                font-size: var(--fs-50);
                            }
                        }
                    }
                    .btn{
                        font-size: var(--fs-10);
                        padding-block: 0.5rem;
                        padding-inline: 1rem;
                        margin-bottom: 1rem;
                    }
                }
                .add-button-database-wrapper{
                    span{
                        font-weight: var(--fw-bold);
                    }
                    .btn{
                        font-family: var(--ff-tertiary);
                        font-size: var(--fs-50);
                        font-weight: var(--fw-regular);
                        transition: background-color 0.5s;
                        border: transparent;
                        &:hover{
                            background-color: var(--clr-icons-400);
                            color: var(--clr-primary-500);
                        }
                    }
                }
                .table-datasets-wrapper{
                    margin-top: 2rem;
                    th{
                        font-weight: var(--fw-bold);
                        font-size: var(--fs-10);
                    }
                }
                .table-group-divider{
                    td{
                        font-size: var(--fs-10);
                        word-wrap: break-word;
                        a{
                            gap: 2rem;
                            line-height: 1.5rem;
                            .fa-solid {
                                color: var(--clr-primary-50);
                                font-size: var(--fs-10);
                                margin-right: 0.5rem;
                                border: 1px solid var(--clr-primary-200);
                                border-radius: 50%;
                                padding: 0.225rem;

                            }
                        }
                        img{
                            max-width:100px;
                            max-height:100px;
                            width: auto;
                            height: auto;
                        }
                    }
                }

            }
        }
    }
 
}

body {

    @include database();
}