
.forfirstdivs {

    position: absolute;
    top: 10px;
    left: 10px;
    margin: 5px;
    padding: 200px ;
    padding-bottom: 100%;
    display: inline-block;
    border: 3px solid black;
    /* display: flex;
    justify-content: space-between; */
    /* flex-direction: row;
     */
}

.forsecdivs {

    position: absolute;
    top: 10px;
    left: 510px;
    margin: 5px;
    padding: 200px ;
    padding-bottom: 100%;
    display: inline-block;
    border: 3px solid black;
    /* display: flex;
    justify-content: space-between; */
    /* flex-direction: row;
     */
}

.forthirddivs {

    position: absolute;
    top: 10px;
    left: 1010px;
    margin: 5px;
    padding: 200px ;
    padding-bottom: 100%;
    display: inline-block;
    border: 3px solid black;
    /* display: flex;
    justify-content: space-between; */
    /* flex-direction: row;
     */
}

.forfourthdivs {

    position: absolute;
    top: 10px;
    left: 1510px;
    margin: 5px;
    padding: 200px ;
    padding-bottom: 100%;
    display: inline-block;
    border: 3px solid black;
    /* display: flex;
    justify-content: space-between; */
    /* flex-direction: row;
     */
}