ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* controls what happens to the content that is too big to fit the area  */
    
    /* four properties  */

    /* hidden - hides the rest of the content  */

    /* visible - ot shows all the content  */
    /* scroll - creates a scrollbox when the content is overflowed 
     */

     /* auto - when it is needed, it creates a scroolbox  */

}

li {

    float: left;
}

li a {

    display: inline-block;
    padding: 8px;
    background-color: antiquewhite;
    text-decoration: none;
}

li :hover {

    background-color: whitesmoke;
}
