.staticPosition{

    border: 2px solid #7A08;
}
/* top, bottom, left are not working */


img.staticPosition {
    width: 150px;
    height: 100px;
}

.relativePosition {
    position: relative;
    border: 2px dashed goldenrod;
    /* top:10px;
    bottom: 150px; */

    /* top, bottom, left are working  */

}

img.relativePosition{

    width: 150px;
    height: 100px;
    top:10px;
    bottom: 150px;
   
}

.absolutePosition {

    position: absolute;
    border: 3px dotted burlywood;
    
    /* does not follow the flow of the webpage  */
    /* might overlap with other */
}

img.absolutePosition {

    width: 300px;
    height: 200px ;
}

.fixedPosition {

    position: fixed;
    border: 4px solid green;
    margin-left: 800px;
    
    /* does not move in the webpage */
}

/* img.stickyPosition {
    padding: auto;
    width: 150px;
    height: 100px ;
}
 */

 .snoopyFixed {

    position: fixed;
    top: 600px;
    margin-left: 800px;
    height: auto;
    width: 150px;
    border: 3px solid gold;

 }

 .buttonClick {

    position: fixed;
    top: 700px;
    margin-left: 800px;

 }

 .stickyPosition {
    
    /* webkit sticky is for any windows and for safari  */
    position: -webkit-sticky; 
    position: sticky;
    border: 4px dashed brown;
    top: 100px;
    margin-left: 800px;

 }
 