:root {
  --clr-accent-500: rgb(255,62,71);
  --clr-accent-400: rgb(255,80,80);
  --clr-accent-100: rgb(169, 175, 126);
  --clr-accent-50: rgb(255,108,94);
  --clr-accent-50:rgb(242,247,246);
  --clr-accent-1400: rgb(198,156,109);
  --clr-primary-400:rgb(17,17,17);
  --clr-primary-100: rgb(31,31,31);
  --clr-primary-50: rgb(51,51,51);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(0, 0%, 98%);
  --clr-neutral-700: rgb(250,250,250);
  --clr-icons-100: rgb(60,90,153);
  --clr-icons-200: rgb(234,67,53);
  --ff-primary:"Montserrat", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --ff-accent: var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-700: 1.875rem;
  --fs-800: 1.5rem;
  --fs-900: 2.5rem;
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
}

@media screen and (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}
body .text-primary-400 {
  color: var(--clr-primary-400);
}
body .text-primary-100 {
  color: var(--clr-primary-100);
}
body .text-primary-50 {
  color: var(--clr-primary-50);
}
body .text-accent-400 {
  color: var(--clr-accent-400);
}
body .text-accent-100 {
  color: var(--clr-accent-100);
}
body .text-accent-1400 {
  color: var(--clr-accent-1400);
}
body .text-neutral-400 {
  color: var(--clr-neutral-400);
}
body .text-neutral-100 {
  color: var(--clr-neutral-100);
}
body .bg-primary-400 {
  background-color: var(--clr-primary-400);
}
body .bg-primary-100 {
  background-color: var(--clr-primary-100);
}
body .bg-primary-50 {
  background-color: var(--clr-primary-50);
}
body .bg-accent-400 {
  background-color: var(--clr-accent-400);
}
body .bg-accent-100 {
  background-color: var(--clr-accent-100);
}
body .bg-accent-50 {
  background-color: var(--clr-accent-50);
}
body .bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
body .bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
body .fw-bold {
  font-weight: var(--fw-bold);
}
body .fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
body .fw-regular {
  font-weight: var(--fw-regular);
}
body .fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
body .fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
body .fs-300 {
  font-size: var(--fs-300);
}
body .fs-400 {
  font-size: var(--fs-400);
}
body .fs-500 {
  font-size: var(--fs-500);
}
body .fs-600 {
  font-size: var(--fs-600);
}
body .fs-650 {
  font-size: var(--fs-650);
}
body .fs-700 {
  font-size: var(--fs-700);
}
body .fs-800 {
  font-size: var(--fs-800);
}
body .fs-900 {
  font-size: var(--fs-900);
}
body * {
  font-family: var(--ff-body);
}
