* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;

}

main {

    background-color: #EEF2E6;
    height: 100vh;
    width: 100%;
}

nav {

    background-color: #1C6758;
    width: 100%;
    height: 10%;
}


label.logo {

    font-size: 25px;
    color: #EEF2E6;
    line-height: 90px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {

    float: right;
    margin-right: 100px;

}

nav ul li {

    display: inline-block;
    line-height: 90px;
    /* margin: 0 5px; */

}

nav ul li a {

    color: #EEF2E6;
    font-size: 18px;
    text-transform: uppercase;
    /* padding: 35px; */
    padding:35px 25px;

}

a.active, a:hover {

    background-color: #3D8361;
    transition: 0.5s;
}

.checkbtn {

    float: right;
    color: #EEF2E6;
    font-size: 30px;
    line-height: 90px;
    margin-right: 100px;
    cursor: pointer;
    display: none;
}

#check {

    display: none;
}
@media screen and (max-width: 1024px ) {

    label.logo{

        font-size: 25px;
        padding-left: 50px;
    }

    nav ul li a {

        font-size: 18px;
        padding:35px 10px;
    }

}

@media  screen and (max-width: 868px ) {

    
    .checkbtn {
        display:  block;
     }


 
    ul {

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D6CDA4;
        top: 100%;
        /* left: -100%; */
        text-align: center;
        transition: all .5s;
    }

    nav ul li a{

        display: block;
        padding: 0;
        font-size: 20px;
    }

    a.active, a:hover{

        background: none;
        color: #1C6758;
    }

    #check:checked ~ ul {

        top: 80px;
    }

}

