<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/capstoneStyle.css">
    <link rel="stylesheet" href="./css/mainpageStyle.css">
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">
    <!-- icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d258feda9a.js" crossorigin="anonymous"></script>

</head>
<body>
    <main>
        <header class="primary-header">
            <div class="wrapper-header">
                <nav class="secondary-nav">
                    <ul class="secondary-nav-contact">
                        <li><i class="fa-solid fa-phone"></i><a href="#">Text/Viber: 09263524939</a></li>
                        <li><i class="fa-regular fa-envelope"></i><a href="#">pcadrchelpdesk@mail.pca.gov.ph</a></li>
                    </ul>
                    <ul class="secondary-nav-login">
                        <li><i class="fa-sharp fa-solid fa-lock"></i><a href="">LOGIN</a></li>
                    </ul>
                </nav>
                <!-- logo  -->
                <div class="primary-nav-wrapper">
                     <h1 class="logo"><a href=""><img src="" alt="">GOV.PH</a></h1>
                <!-- navigation bar  -->
                <nav class="primary-nav">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </header>
        <section class="pca-logo-section">
            <div class="wrapper-pca-logo">
                <h1 class="pcaLogo"><a href="#"><img src="./images/pcalogo.png" alt=""></a></h1>
                <div class="pca-logo-txt">
                    <h4>Department of Agriculture</h4>
                    <h1 class="primaryHeader">PHILIPPINE COCONUT AUTHORITY</h1>
                    <h4>PCA-DRC Compound, Bago Oshiro Tugbok, Davao City</h4>
                </div>
            </div>

            <div class="philippineTime-wrapper">
                <h5>Philippine Standard Time</h5>
                <h5>Sunday, January 29, 2023</h5>
                <div class="social-media-logos">
                    <h1><a href=""><img src="./images/fb.png" alt=""></a></h1>
                    <h1><a href=""><img src="./images/yt.png" alt=""></a></h1>
                </div>
            </div>
           

        </section>
        <section class="main-section">
            <div class="side-nav-wrapper">
                <nav class="side-nav-bar">
                    <h1>RESOURCES</h1>
                    <ul>
                        <li><a href="">COCONUT PESTS</a></li>
                        <li><a href="">COCONUT DISEASES</a></li>
                        <li><a href="">MANAGEMENT</a></li>
                        <li><a href="">STATISTICS</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main-section-data">
                <h2>Search Coconut Damages</h2>
                <h5>Pest and or Disease name</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <h5>Category</h5>
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                      <option value="0"></option>
                      <option value="1">Coconut Diseases</option>
                      <option value="2">Coconut Pests</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-success">SEARCH</button>
                  <div class="data-types-section">
                        <div class="data-wrapper">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="./images/rhinoB.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Integrated Management of Rhinoceros Beetle (Orycetes rhinoceros L.)</h5>
                                      <p class="card-text">Pest and Disease Management</p>
                                      <p class="card-text"><small class="text-muted">read more..</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                        <div class="data-wrapper">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="./images/coconutE.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">91.4B PHP Average Export Earnings</h5>
                                      <p class="card-text">Philippine Cocout Industry</p>
                                      <p class="card-text"><small class="text-muted">read more..</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                        <div class="data-wrapper">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="./images/asiaticPW.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Asiatic Palm Weevil</h5>
                                      <p class="card-text">Coconut Pests</p>
                                      <p class="card-text"><small class="text-muted">read more..</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                        <div class="data-wrapper">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="./images/budRot.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Bud and Nut Rot in Coconut</h5>
                                      <p class="card-text">Coconut Diseases and Damages</p>
                                      <p class="card-text"><small class="text-muted">read more..</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                     
                  </div>

            </div>
        </section>
        <section>
            <h1><%= userName %> here</h1>
        </section>
        <section class="logos">
            <ul>
                <li><a href=""><img src="./images/TS.jpg" alt=""></a></li>
                <li><a href=""><img src="./images/FS.png" alt=""></a></li>
                <li><a href=""><img src="./images/CS.png" alt=""></a></li>
            </ul>
        </section>
        <section class="accordion-pcadrc">
            <div class="pca-drc-accordionetc-wrapper">
                <div class="davao-research-center-wrapper">
                    <h3>DAVAO RESEARCH CENTER</h3>
                    <div class="loc-wrapper">
                        <h2><a href=""><i class="fa-solid fa-location-dot"></i></a></h2>
                        <h4>Trade & Industry Building <br>
                            361 Senator Gil J. Puyat Avenue, <br>
                            Makati City, Metro Manila <br>
                            Philippines 1200
                        </h4>    
                    </div>   
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul> 
                </div>
                <div class="quick-links-wrapper">
                    <h3>Quick Links</h3>
                    <div class="accordion-wrapper">
                        <ul>
                            <li><a href=""><span>></span> Home</a></li>
                            <li><a href=""><span>></span> Search Coconut Damages</a></li>
                            <li><a href=""><span>></span> Add New Pest and Diseases</a></li>
                            <li><a href=""><span>></span> Contact Inquiry</a></li>
                        </ul>
                    </div>
                   
                </div>
                <div class="trunkline-wrapper">
                    <h3>Trunkline</h3>
                    <h4>Telephone: <span> Text/Viber: 09175953930</span></h4>
                    <h4>Mobile Phone: <span> Calls: 09171402936/09171465759</span></h4>
                    <h4>Email Address: <span><a href="">pcadrc@mail.pca.gov.ph</a></span></h4>
                </div>
            </div>
            <div class="copyright-wrapper">
                <h4>Copyright &copy; 2023 PCA DRC. All Rights Reserved</h4>
            </div>
        </section>
        <footer>  
            <div class="footer-wrapper">
                <div class="logo-gov-seal">
                    <img src="./images/GS.jpg" alt="">
                </div>
                <div>
                    <h4>REPUBLIC OF THE PHILIPPINES</h4>
                    <h5>All content is in the public domain unless <br>otherwise stated.</h5>
                </div>
                <div>
                    <h4 class="indent-h4">REPUBLIC OF THE PHILIPPINES</h4>
                    <h5>Learn more about the Philippine government, its <br> structure, how government works and the people behind it.</h5>
                    <ul>
                        <li><a href="">GOV.PH</a></li>
                        <li><a href="">Open Data Portal</a></li>
                        <li><a href="">Official Gazzete</a></li>
                    </ul>
                </div>
                <div>
                    <h4>GOVERNMENT LINKS</h4>
                    <ul>
                        <li><a href="">Office of the President</a></li>
                        <li><a href="">Office of the Vice President</a></li>
                        <li><a href="">Senate of the Philippines</a></li>
                        <li><a href="">House of Representatives</a></li>
                        <li><a href="">Supreme Court</a></li>
                        <li><a href="">Court of Appeals</a></li>
                        <li><a href="">Sandiganbayan</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>